In [6]:
import pandas as pd
df = pd.read_csv("hies_state.csv")
df.head()

,date,state,income_mean,income_median,expenditure_mean,gini,poverty
0,2022-01-01,Johor,8517,6879,5342,0.36646,4.6
1,2022-01-01,Kedah,5550,4402,3765,0.35938,9.0
2,2022-01-01,Kelantan,4885,3614,3505,0.38540,13.2
3,2022-01-01,Melaka,8057,6210,5707,0.36963,4.2
4,2022-01-01,Negeri Sembilan,6788,5226,4678,0.36853,4.4

In [7]:
df['spending_rate'] = (df['expenditure_mean']/df['income_mean']*100).round(1)
df['saving_rate'] = (100 - df['spending_rate']).round(1)
df.head()

,date,state,income_mean,income_median,expenditure_mean,gini,poverty,spending_rate,saving_rate
0,2022-01-01,Johor,8517,6879,5342,0.36646,4.6,62.7,37.3
1,2022-01-01,Kedah,5550,4402,3765,0.35938,9.0,67.8,32.2
2,2022-01-01,Kelantan,4885,3614,3505,0.38540,13.2,71.8,28.2
3,2022-01-01,Melaka,8057,6210,5707,0.36963,4.2,70.8,29.2
4,2022-01-01,Negeri Sembilan,6788,5226,4678,0.36853,4.4,68.9,31.1

In [8]:
df.to_csv('hies_state.csv', index=False)